.features { // this the features container
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid; // here we are turning a grid item into a grid container as well
    grid-template-columns: repeat(3, 1fr); // 3 equally sized columns

    grid-gap: 6rem;
}

.feature { // this is for the individual features in the feature container

    &__icon { // svh image
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
    }

    &__text {
        font-size: 1.7rem;
    }
}

